.footer-container {
    height: 66px;
    background-color: var(--header-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    color: #fcfcfc;
}

.footer-link {
    text-decoration: none;
    color: #fcfcfc;
}