:root {
  --background-color: #FAFAFA;
  --header-font: #3A4895;
  --cart-color: #E4310B;
  --button-color: #5264C3;
  --product-primary-color: #282828;
  --product-secondary-color: #949494;
  --input-background-color: #B4B4B4;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}