.homepage-container {
    background-color: var(--background-color);
    min-height: calc(100vh - 81px);
    padding-bottom: 74px;
}

.homepage-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 66px;
    row-gap: 32px;
    padding: 21px 50px 69px 50px;
}

.button-container {
    text-align: left;
    margin-left: 50px;
}

.homepage-button {
    border: none;
    background-color: var(--background-color);
    font-size: 20px;
    color: var(--button-color);
    padding: 14px;
}

@media (max-width: 428px) {
    .button-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .homepage-button {
        padding: 2px;
    }
}